# CMake
build/
CMakeCache.txt
CMakeFiles/
CMakeScripts/
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json

# IDEs
.vscode/
.idea/
*.swp
*.swo

# macOS
.DS_Store

# JUCE
JuceLibraryCode/
